<div class="jumbotron text-center mt-5 mb-5">
  <h1 class="display-4">Welcome back {{data.formData.fullName}}!</h1>
    <p class="lead"> <strong>Now you can </strong><a href="#">add new meals</a></p>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/logout" role="button">Log out</a>
    </p>
</div>