<div id="register" style="margin-top: 5em; margin-bottom: 5em;">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
             <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                     <form id="login-form" class="form" action="/login" method="post">
                        <h2 class="float-right text-success font-weight-light">
                        <img src="/Icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                            Sign Up
                        </h2>
                        <div class="form-group">
                            <label for="first-name" class="text-success font-italic">First Name:</label><br>
                            <input type="text" name="first-name" id="first-name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="last-name" class="text-success font-italic">Last Name:</label><br>
                            <input type="text" name="last-name" id="last-name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-success font-italic">Email:</label><br>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-success font-italic">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-success"><span>Subscribe to our newsletter</span> <span><input id="subscribe" name="subscribe" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" class="btn btn-info btn-md float-right" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>